.searchForm{
    display: inline-block;
    padding: 8px;
}

.createOrderButton{
    margin: 10px !important;
    background-color: #3872b4 !important;
}

.deleteSelectedButton{
    margin: 15px !important;
    background-color: #3872b4 !important;
}

.orderTypeForm{
    min-width: 270px !important;
    width: fit-content !important;
}

.orderTypeMenu{
    padding: 8px !important;
}

.orderTypeLabel{
    position: relative;
}

.chipOuterBox{
    height: 23px;
}

.valueChip {
    height: 23px !important;
}

.css-hrgw66-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #666666 !important;
}

.css-x6vx7i-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #C4C4C4 !important;
    border-width: 1px !important;
}