.searchForm{
    display: inline-block;
    padding: 8px;
}

.createOrderButton{
    margin: 10px !important;
    background-color: #3872b4 !important;
}

.deleteSelectedButton{
    margin: 15px !important;
    background-color: #3872b4 !important;
}

.orderTypeForm{
    min-width: 270px !important;
    width: fit-content !important;
}

.orderTypeMenu{
    padding: 8px !important;
}

.orderTypeLabel{
    position: relative;
}

.chipOuterBox{
    height: 23px;
}

.valueChip {
    height: 23px !important;
}

/* .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input:focus {
    outline: 1px solid #E1E1E1 !important;
        border-radius: 1px;
}

.css-hrgw66-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #E1E1E1 !important;
} */

.css-h8w2yk-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #E1E1E1 !important;
    border-width: 2px !important;
}