.createButton{
    background-color: #3872b4 !important;
}

.cancelButton{
    background-color: #3872b4 !important;
}

.orderTypeMenu {
    padding: 8px !important;
}

.orderTypeLabel {
    position: relative;
}

.chipOuterBox {
    height: 23px;
}

.valueChip {
    height: 23px !important;
}

.css-k9yjdw-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #C4C4C4 !important;
    border-width: 1px !important;
}

.css-1t4bf8g-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #C4C4C4 !important;
    border-width: 1px !important;
}